@font-face {
	font-family: Shabnam;
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/eot/Shabnam-Thin-FD.eot");
	src: url("../fonts/eot/Shabnam-Thin-FD.eot?#iefix") format("embedded-opentype"),
		url("../fonts/woff/Shabnam-Thin-FD.woff") format("woff"),
		url("../fonts/ttf/Shabnam-Thin-FD.ttf") format("truetype");
}

@font-face {
	font-family: Shabnam;
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/eot/Shabnam-Light-FD.eot");
	src: url("../fonts/eot/Shabnam-Light-FD.eot?#iefix") format("embedded-opentype"),
		url("../fonts/woff/Shabnam-Light-FD.woff") format("woff"),
		url("../fonts/ttf/Shabnam-Light-FD.ttf") format("truetype");
}

@font-face {
	font-family: Shabnam;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/eot/Shabnam-FD.eot");
	src: url("../fonts/eot/Shabnam-FD.eot?#iefix") format("embedded-opentype"),
		url("../fonts/woff/Shabnam-FD.woff") format("woff"), url("../fonts/ttf/Shabnam-FD.ttf") format("truetype");
}

@font-face {
	font-family: Shabnam;
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/eot/Shabnam-Medium-FD.eot");
	src: url("../fonts/eot/Shabnam-Medium-FD.eot?#iefix") format("embedded-opentype"),
		url("../fonts/woff/Shabnam-Medium-FD.woff") format("woff"),
		url("../fonts/ttf/Shabnam-Medium-FD.ttf") format("truetype");
}

@font-face {
	font-family: Shabnam;
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/eot/Shabnam-Bold-FD.eot");
	src: url("../fonts/eot/Shabnam-Bold-FD.eot?#iefix") format("embedded-opentype"),
		url("../fonts/woff/Shabnam-Bold-FD.woff") format("woff"),
		url("../fonts/ttf/Shabnam-Bold-FD.ttf") format("truetype");
}
